.title {
    -fx-font-size: 27px;
}

.sub-title {
    -fx-font-size: 14px;
    -fx-text-fill: #888;
}

.btn {
    -fx-pref-width: 280px;
    -fx-pref-height: 48px;
    -fx-background-color: -base-color;
    -fx-text-fill: #FFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}